<link rel="stylesheet" href="css/body.css">
<style>
    body {
      margin: 0;
      padding: 0;
      font-family: 'Times New Roman', Times, serif;
      background: linear-gradient(to right, #b92b27, #1565c0)
    }
    </style>
    
    <!-- <link rel="stylesheet" href="/css/login.css">  -->
    <%- include("./layout/head") %>
    
      <%- include("./layout/nav") %>
      <body>
    
    
      <div class="container">
        <div class="row">
            <div class="col-md-6">
              
                    <form class="box" action="/signup" method="POST">
                        <h2 style="color: white;">Đăng ký</h2>
                        <p class="text-muted">             
                          <% if (message.length > 0) { %>
                            <div class="alert alert-danger"><%= message %></div>
                        <% } %></p>
                        <input type="text" name="email"   placeholder="Email" required>
                     
                        <input type="password" name="password"  placeholder="Mật khẩu" required> 
                        <input type="text" name="name"   placeholder="Họ tên" required>
                        <!-- <a class="forgot text-muted" href="#">Forgot password?</a> -->
                        <input type="submit" value="Đăng ký" >
                        <br>
                         <a class="" href="/login">Bạn đã có tài khoản ?</a>
                         <br>
                         <a class="" href="/">Trang chủ</a> 
                      
                    </form>
            
            </div>
        </div>
    </div>
 
    </body>
    
    