<style>
   .aside{
     margin-top: 2%;
     margin-left: 1%;
   
   }
  table { 
    font-family: "Times New Roman", Times, serif;
    width: 100%;
    height: auto;
  }
  th {
    font-size: 25px;
    text-align: center;
  }
  
</style>
<link rel="stylesheet" href="css/body.css">
<table>

  <tr>
    <th>
  
    Admin
  
      <hr />
    </th>
  </tr>
 
  <tr>
   
    
      <td>
        <div class="dropdown dropright">
          <p class="btn">
          <a href="/home">
            Thông tin
          </a>  
          </p>
     
        </div>
 
      </td>
    </tr>
  
  <tr>
    <td>
      <div class="dropdown dropright">
        <p class="btn  dropdown-toggle" data-toggle="dropdown">
     <a href="">  Quản lý sản phẩm</a>   
        </p>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/admin/list-product">Danh sách</a>
          <a class="dropdown-item" href="/admin/insert-product">Thêm mới</a>
    
        </div>
      </div>

    </td>
  </tr>
  <tr>
    <td>
      <div class="dropdown dropright">
        <p class="btn  dropdown-toggle" data-toggle="dropdown">
      <a href="">    Phân loại sản phẩm</a>
        </p>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/admin/listcate">Danh sách</a>
          <a class="dropdown-item" href="/admin/insertcate">Thêm mới</a>
    
        </div>
      </div>
 
    </td>
  </tr>
  <tr>
    <td>
      <div class=" btn dropdown dropright">
        <a href="/view_user" >   
       Quản lý khách hàng

      </a>
      </div>
   
    </td>
  </tr>
  <tr>
    <td>
      <div class="dropdown dropright">
        <p class="btn" >
  <a href="/list_order">      Đơn hàng </a> 
        </p>
     
      </div>
 
    </td>
  </tr>
  <tr>
    <td>
      <div class="dropdown dropright">
        <p class="btn" >
  <a href="/admin/notification">      Thông báo </a> 
        </p>
     
      </div>
 
    </td>
  </tr>
</table>
