<link rel="stylesheet" href="css/nav.css">
<!------ Include the above in your HEAD tag ---------->
<nav style="height: 11%;" class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <marquee><mark>Thời gian quý giá hơn tiền bạc. Bạn có thể kiếm được nhiều tiền hơn, nhưng với thời gian thì
        không</mark></marquee>
    <ul class="navbar-nav ">
      <li>
        <div class="dropdown dropleft float-right">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <%= user.name %>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/logout">
              <i class="fa fa-sign-out"></i>
              Đăng xuất
            </a>
          </div>
        </div>
      </li>
      </ul>
  </div>
</nav>